@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>404</h1>
        </div>
        <h2>Oops! Nothing was found</h2>
        <p>The page you are looking for might have been removed, had its name changed, unauthorized access or is temporarily unavailable. <a asp-area="" asp-controller="Home" asp-action="Index">Return to homepage</a></p>

    </div>
</div>