@model IMS.Models.Staff

@{
    ViewData["Title"] = "Delete";
}

<h2>Staff</h2>
@if (@ViewBag.StaffRole == "Admin")
{
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Delete">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group col-md-4">
                    <label asp-for="ID" class="control-label"></label>
                    <input asp-for="ID" class="form-control" readonly="readonly" />
                    <span asp-validation-for="ID" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label>Name</label>
                    <input asp-for="Sname" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Sname" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Status" class="control-label"></label>
                    <input type="text" asp-for="Status" class="form-control status" readonly="readonly" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group  col-md-12">
                    <div class="" style="float:right">
                        <input type="hidden" asp-for="ID" />
                        <input class="btn btn-danger" type="submit" value="Delete" />
                        <a class="btn Back_Button btn_margin_left" asp-action="Index">Back</a>
                    </div>

                    <span style="color:red">@Html.ValidationMessage("ErrorDelete")</span>
                </div>
            </form>
        </div>
    </div>
}
else
{

    {
        Html.RenderPartial("_Error404");
    }
}
